@font-face {
    font-family: "ibmplexsans";
    src: url(/fonts/ibmplexsans-regular.woff);
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0;
    padding: 0;
}

@keyframes render {
    0% {
        stroke-dasharray: 0 100;
    }
}

.header_main {
    display: flex;
    justify-content: center;
    font-family: "ibmplexsans", "arial", sans-serif;
    color: #68625c;
}

.main_diagram {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "ibmplexsans", "arial", sans-serif;
}

.main_circle {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
}

.unit {
    fill: none;
    stroke-width: 1;
    animation-name: render;
    animation-duration: 2s;
    stroke-linecap: round;
}

.unit:nth-child(1) {
    stroke: #fcd329;
    stroke-dasharray: 39 61;
    stroke-dashoffset: -82;
}

.unit:nth-child(2) {
    stroke: #70a84b;
    stroke-dasharray: 25 75;
    stroke-dashoffset: -21;
}

.main_item_list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.item_list {
    display: flex;
    margin-bottom: 20px;
}

.item_list_title {
    margin-right: 10px;
    width: 115px;
    font-family: "ibmplexsans", "arial", sans-serif;
    color: #68625c;
    font-weight: 800;
}

.item_list_human {
    text-align: end;
    font-family: "ibmplexsans", "arial", sans-serif;
    color: #8a878d;
}

.static_percent {
    margin-bottom: 5px;
    font-family: "ibmplexsans", "arial", sans-serif;
    color: #68625c;
    font-weight: 800;
}

.item_percent_plus_promo {
    font-family: "ibmplexsans", "arial", sans-serif;
    background: linear-gradient(to right, #70a84b 40%, transparent 40%);
    border: 2px solid rgba(204, 204, 204, 0.9);
    border-radius: 5px;
    margin-left: 20px;
    width: 100px;
    display: flex;
    align-items: center;
}

.item_percent_prom {
    font-family: "ibmplexsans", "arial", sans-serif;
    width: 100px;
    text-align: end;
    color: #68625c;
    font-weight: 400;
}

.item_percent_plus_scep {
    font-family: "ibmplexsans", "arial", sans-serif;
    background: linear-gradient(to right, #fcd329 40%, transparent 40%);
    border: 2px solid rgba(204, 204, 204, 0.9);
    border-radius: 5px;
    margin-left: 20px;
    width: 100px;
    display: flex;
    align-items: center;
}

.item_percent_scep {
    font-family: "ibmplexsans", "arial", sans-serif;
    width: 100px;
    text-align: end;
    color: #68625c;
    font-weight: 400;
}

.item_percent_plus_crit {
    font-family: "ibmplexsans", "arial", sans-serif;
    background: linear-gradient(to right, #ed5243 40%, transparent 40%);
    border: 2px solid rgba(204, 204, 204, 0.9);
    border-radius: 5px;
    margin-left: 20px;
    width: 100px;
    display: flex;
    align-items: center;
}

.item_percent_crit {
    font-family: "ibmplexsans", "arial", sans-serif;
    width: 100px;
    text-align: end;
    color: #68625c;
    font-weight: 400;
}

.img_loyalty {
    content: "";
    position: absolute;
    top: 50px;
    left: 230px;
}

.human_count_text {
    color: #9d9d9c;
    font-family: "ibmplexsans", "arial", sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.triangle {
    width: 0;
    height: 0;
    border-left: 16px solid transparent;
    border-right: 16px solid transparent;
    border-bottom: 18px solid #70a84b;
}

.text {
    font-size: 1.5em;
    padding-left: 5px;
    color: #70a84b;
}

.circle_disc {
    display: flex;
    align-items: center;
    flex-direction: column;
    position: absolute;
    align-self: center;
}

.circle_disc_percent_main {
    display: flex;
    flex-direction: row;
    margin: 0;
}

.circle_disc_percent {
    font-family: "ibmplexsans", "arial", sans-serif;
    font-size: 4em;
    color: #68625c;
}

.circle_disc_percent_child {
    display: flex;
    flex-direction: column;
    align-self: center;
}

.circle_disc_percent_child sub {
    font-size: 1.5em;
    color: #68625c;
}

.circle_disc_percent_child sup {
    font-size: 1.3em;
    color: #9d9d9c;
}

.circle_disc_text_relation {
    font-family: "ibmplexsans", "arial", sans-serif;
    font-size: 2em;
    font-weight: 800;
    color: #68625c;
}

.circle_disc_text_rating {
    font-family: "ibmplexsans", "arial", sans-serif;
    color: #fcd329;
    font-size: 1.5em;
    font-weight: 800;
}

.circle_disc_text {
    font-family: "ibmplexsans", "arial", sans-serif;
    color: #9d9d9c;
}

.circle_disc_text_percent {
    margin-bottom: 15px;
    font-family: "ibmplexsans", "arial", sans-serif;
    color: #9d9d9c;
}

.vl {
    border-left: 3px solid #cccccc;
    height: 340px;
    position: absolute;
    left: 50px;
    top: 230px;
}

.gl {
    border-top: 2px solid #cccccc;
    width: 35px;
    position: absolute;
    left: 50px;
    top: 230px;
}
